<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /0223/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /0223/index.php [L]
</IfModule>


# BEGIN WordPress

# END WordPress