*{
  box-sizing: border-box;
  }
body{
 background-image:url("../img/bg.jpg");
}
.konteineris {
  width: 970px;
  margin: 20px auto;
}
.virsus{
  background-color: #CD5C5C;
  margin: 20px 20px auto;
  border-style: solid;
  border-color: #800000;
  border-radius: 20px;
  text-align: center;
}
button.pirm, button.antr {
display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #800000;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px 	#DB7093;
  font-family: 'Mountains of Christmas', cursive;
  margin: 20px 20px;

}
button.pirm, button.antr:hover {background-color: #F08080}

button.pirm, button.antr:active {
  background-color: #800000;
  box-shadow: 0 5px #DB7093;
  transform: translateY(4px);
}
#apacia{
  visibility: hidden;
  background-color: #CD5C5C;
  margin: 20px 20px auto;
  border-style: solid;
  border-color: #800000;
  border-radius: 20px;
}
h1{
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 60px;
}
h2{
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 40px;
}
p{
  text-align: center;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 30px;
}
ul {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 20px;
  list-style-type: none;
  text-align: left;
}
.foto{
  width: 20%;
  float: right;
}
.virsus::after{
  content: "";
  display: table;
  clear: both;
