*{
  box-sizing: border-box;
}
body{
  background-color: #f2f2f4;
}
.container{
max-width: 1200px;
}
.img1{
width: 100%;
margin: 0 auto;
}
nav ul li{
  display: inline;
}
nav ul li a{
  padding: 15px;
  font-size: 20px;
}
nav ul{
  padding: 30px 0;
}
.menu ul{
text-align: right;
}
footer{
  text-align: center;
  background-color: plum;
}
h2{
color: red;
}
.title{
border-bottom: 3px solid red;
margin: 10px 0;
}
video{
width:100%;
}
.article{
margin: 0 auto;
background-color: white;
border: 2px solid grey;
padding: 10px;
}
.video1{
margin: 0 auto;
}
p{
line-height: 1.5;
margin:10px;
text-align: center;
}
        @media only screen and (max-width: 1000px){
        nav.menu ul li a{
        display:block;
        }
        nav.menu{
        float: right;
        margin-top: -70px;
        }
        .article{
            margin-top: 20px;
        }
        }
.icon1 li{
    display:inline;
    font-size: 40px;
    padding:30px;
}
.icon1 {
    text-align: center;

}
